<!DOCTYPE html>
<html >
<head>
    <title>Dibuja una fruta</title>
    <style>
        canvas { border: 1px solid black; }
        #temporizador {
            padding: 0;
            background-color: #173A7B;
            color: #FFFFFF;
            border: 0 solid #173A7B;
            border-radius: 0px;
            text-align: center;
            margin-top: 0px;
            font-size: 20px;
            font-weight: bold;
        }
            *{
                padding: 0;
                border: 0;

            }

        body {
                background-color: #8FB6F5;
                padding: 0;
                color: white;
                text-align: center;
            }

    </style>
    <link rel="icon" sizes="192x192" href="https://static.wixstatic.com/media/50abbb_e0b55473e4374fc0b1bd7295cb14c06e%7Emv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/50abbb_e0b55473e4374fc0b1bd7295cb14c06e%7Emv2.png">
</head>
<body>

    <div style="display: flex; justify-content: center; align-items: center; background-color: #173A7B;">
        <img src="https://static.wixstatic.com/media/50abbb_734c476993ab44d887e1d59ed12e5767~mv2.png/v1/crop/x_0,y_140,w_1846,h_636/fill/w_219,h_75,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ULSA%20LOGO%20BANCO%20PNG.png" alt="ULSA LOGO BANCO PNG.png" style="width:175px;height:60px;object-fit:cover" srcset="https://static.wixstatic.com/media/50abbb_734c476993ab44d887e1d59ed12e5767~mv2.png/v1/crop/x_0,y_140,w_1846,h_636/fill/w_219,h_75,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ULSA%20LOGO%20BANCO%20PNG.png" fetchpriority="high">
        
        <div style = "background-color: #173A7B;">
            <h1>Dibuja una fruta</h1>
            
        </div>
    </div>
    
    
    <canvas id="lienzo" width="448" height="448"></canvas>
    
    <select id="modo">
        <option value="manual">Manual</option>
        <option value="tiempo">Por tiempo</option>
    </select>

    <p id="temporizador"></p>

    <form method="POST" action="{{ url_for('predict') }}">
        <input type="hidden" id="imagen" name="imagen">
        <button type="submit" id="predict">Generar predicción</button>
    </form>

    <form method="POST" action="{{ url_for('restart') }}">
        <button type="submit">Reiniciar</button>
    </form>

    {% if prediccion %}
        <div  style = "background-color: #173A7B;">
            <h2>Tu fruta es {{ prediccion }}</h2>
        </div>    
    {% endif %}

    <script>
        var canvas = document.getElementById('lienzo');
        var ctx = canvas.getContext('2d');
        var modoSelect = document.getElementById('modo');
        var predictButton = document.getElementById('predict');
        var imgInput = document.getElementById('imagen');
        var temporizador = document.getElementById('temporizador');
        var isDrawing = false;
        var timer = null;
        var counter = 15;

        function updateCounter() {
            if(counter > 0) {
                temporizador.textContent = "Tiempo restante: " + counter + " segundos";
                counter--;
            } else {
                temporizador.textContent = "";
                predictButton.click();
            }
        }

        function startDrawing(e) {
            isDrawing = true;
            ctx.beginPath();

            if(modoSelect.value === 'tiempo' && timer === null) {
                counter = 15;
                updateCounter();
                timer = setInterval(updateCounter, 1000);
            }
        }

        function stopDrawing(e) {
            isDrawing = false;
        }

        canvas.addEventListener('mousedown', startDrawing);
        canvas.addEventListener('mouseup', stopDrawing);
        canvas.addEventListener('mouseout', stopDrawing);

        canvas.addEventListener('mousemove', function(e) {
            if (!isDrawing) return;
            ctx.lineWidth = 10;
            ctx.lineCap = 'round';
            ctx.strokeStyle = 'black';

            ctx.lineTo(e.clientX - canvas.offsetLeft, e.clientY - canvas.offsetTop);
            ctx.stroke();
            ctx.beginPath();
            ctx.moveTo(e.clientX - canvas.offsetLeft, e.clientY - canvas.offsetTop);
        });

        predictButton.addEventListener('click', function(e) {
            if(timer !== null) {
                clearInterval(timer);
                temporizador.textContent = "";
            }
            e.preventDefault();
            var dataURL = canvas.toDataURL();
            imgInput.value = dataURL;
            e.target.form.submit();
        });

        var restartButton = document.querySelector("form[action*='restart']");
        restartButton.addEventListener('submit', function() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            if(timer !== null) {
                clearInterval(timer);
                temporizador.textContent = "";
            }
        });

    </script>
</body>
</html>
